@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

html {
  font-size: 14px;
  height: 100%;
  overflow-y: scroll;
  background-color: var(--surface-ground);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0 auto;
  font-weight: normal;
  min-height: 100vh;
}

@media (max-width: $breakpoint-screen-s-threshold) {
  .container {
    width: 100%;
  }
}
@media (min-width: $breakpoint-screen-s) {
  .container {
    width: 750px;
  }
}
@media (min-width: $breakpoint-screen-m) {
  .container {
    width: 970px;
  }
}
@media (min-width: $breakpoint-screen-l) {
  .container {
    width: 1170px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.p-inputtext {
  width: 100% !important;
}

.button-full-width {
  width: 100%;
}

:deep(.p-datatable .p-datatable-tbody > tr > td) {
  padding: 6px 6px;
}

:deep(.p-datatable-emptymessage > td) {
  text-align: center !important;
}

:deep(.p-progressbar-determinate .p-progressbar-value-animate) {
  transition: none !important;
}
