// BREAKPOINTS
$breakpoint-screen-l: 1200px;
$breakpoint-screen-l-threshold: 1199.99999px;
$breakpoint-screen-m: 992px;
$breakpoint-screen-m-threshold: 991.99999px;
$breakpoint-screen-s: 768px;
$breakpoint-screen-s-threshold: 767.99999px;
$breakpoint-screen-xs: 576px;
$breakpoint-screen-xs-threshold: 575.99999px;
